
.title{
  
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    text-align:center;
    font-size:xx-large;

    

}
.a1{ 
    /* border: 1px solid black;    */
    display: flex;
  
    align-items:center;
    justify-content:space-evenly;
    margin: auto;
 

     width: 400px;
    height: 400px;

}
.a{
   
    font-size:22px;
    
}
.b{
  
    font-size: 30px;}
   
   

